<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Perfil del Usuario</h4>
        <h6 class="card-subtitle">Ajustes</h6>
        <form [formGroup]="profileForm"
          (ngSubmit)="updateProfiel()"
          class="form p-t-20">
            <div class="form-group">
                <label for="exampleInputuname">User Name</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-user"></i></div>
                    <input formControlName="name"
                      type="text" class="form-control" id="exampleInputuname" placeholder="Nombre del Usuario">
                </div>
            </div>

            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <div class="input-group">
                    <div class="input-group-addon"><i class="ti-email"></i></div>
                    <input formControlName="email"
                      [readOnly]="user.google"
                      type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                </div>
            </div>

            <button [disabled]="profileForm.invalid" type="submit" class="btn btn-success waves-effect waves-light m-r-10">
              <i class="fa fa-save"></i> Guardar Cambios
            </button>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Avatar</h4>
        <h6 class="card-subtitle">Imagen de usuario</h6>

        <div class="text-center">
          <img *ngIf="!imgTemp" [src]="user.imageUrl" class="img-avatar">
          <img *ngIf="imgTemp" [src]="imgTemp" class="img-avatar">
        </div>

        <input (change)="changeImage($event.target.files[0])" type="file">
        <!-- <input (change)="changeImage($event)" type="file"> -->

        <br>
        <br>

        <button [disabled]="!imageUpload"
          (click)="uploadImage()"
          type="button" class="btn btn-success waves-effect waves-light m-r-10">
          <i class="fa fa-save"></i> Cambiar Imagen
        </button>
      </div>
    </div>
  </div>
</div>

