<div class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
      <div class="card-body">

        <input #termSearch
          (keyup)="search( termSearch.value )"
          type="text" class="form-control" placeholder="Buscar usuario...">

      </div>
    </div>
  </div>
</div>

<div *ngIf="loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="alert alert-info text-center">
      <h4 class="alert-heading">Cargando</h4>
      <i class="fa fa-spin fa-refresh fa-2x"></i>
      <p class="mb-0">Por favor espere</p>
    </div>
  </div>
</div>

<div *ngIf="!loading" class="row animated fadeIn fast">
  <div class="col-12">
    <div class="card">
        <div class="card-body">
          <h4 class="card-title">Usuarios</h4>
          <h6 class="card-subtitle">Usuarios registrados en la aplicación <strong>({{ totalUsers }})</strong></h6>
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th class="w80">Avatar</th>
                  <th>Correo</th>
                  <th>Nombre</th>
                  <th class="w140">Rol</th>
                  <th class="w100">Auth</th>
                  <th class="text-nowrap w100">Acciones</th>
                </tr>
              </thead>

              <tbody>
                <tr *ngFor="let user of listUsers">
                  <td class="text-center">
                    <img (click)="showModal(user)"
                      [src]="user.imageUrl"
                      class="avatar cursor" alt="user"/>
                  </td>
                  <td>{{ user.email }}</td>
                  <td>{{ user.name }}</td>
                  <td>
                    <select (change)="changeRoleUser(user)"
                      [(ngModel)]="user.role"
                      class="form-control">
                      <option value="ADMIN_ROLE">Admin</option>
                      <option value="USER_ROLE">User</option>
                    </select>
                  </td>
                  <td>
                    <span *ngIf="user.google; else notGoogle" class="label label-danger">Google</span>
                    <ng-template #notGoogle>
                      <span class="label label-info">Email</span>
                    </ng-template>
                  </td>
                  <td class="text-nowrap text-center">
                    <a href="#" data-toggle="tooltip" data-original-title="Editar"> <i class="fa fa-pencil text-inverse m-r-10"></i> </a>
                    <a (click)="deleteUser( user )" class="cursor" data-toggle="tooltip" data-original-title="Eliminar">
                      <i class="fa fa-close text-danger"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="termSearch.value.length === 0">
            <button (click)="changePage(-5)" class="btn btn-secondary">Anterior</button>
            &nbsp;
            <button (click)="changePage(5)" class="btn btn-secondary">Siguiente</button>
          </div>
        </div>
    </div>
  </div>
</div>

