.fast{
  -webkit-animation-duration:0.3s;
  animation-duration:0.3s;
  -webkit-animation-fill-mode:both;
  animation-fill-mode:both
}

.img-avatar {
  width: 150px;
  height: 150px;
  margin: 0 1rem 1rem;
}

.avatar {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.cursor {
  cursor: pointer;
}

.w80 {
  width: 80px;
}

.w100 {
  width: 100px;
}

.w140 {
  width: 140px;
}

